.container{
    display: flex;
    justify-content: flex-end;

}



.container_box{
    width: 1340px;
    height: 800px;
    background-color: rgba(61, 65, 66, 0.8);
    border-radius: 30px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_up_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DCDCDC;
    border-radius: 30px;
    box-shadow: 20px 20px 10px #151515;
    width: 800px;
    height: 500px;
    opacity: 0.8;
    border-radius: 10px;
}

.back_btn {
    width: 100%;
    text-align: right;
}

.X_btn {
    background-color: #dcdcdc;
    background-image: url(../img/X_btn.png);
    width: 64px;
    height: 64px;
    border-radius: 50px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.X_btn:hover {
    background-image: url(../img/X_hover_btn.png);
}


.btn_X {
    margin-bottom: 50px;
}

.pop_up_cal {
    font-size: 40px;
}

.pop_up_content {
    font-size: 30px;
}

.pop_up_btn_box {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.pop_up_btn_box2 {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    gap: 30px;
}

.insert_btn {
    border-radius: 20px;
    width: 120px;
    height: 60px;
    background-color: #E79898;
    border-radius: 30px;
    border: none;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 1);  
    font-size: 20px;
    cursor: pointer;
}

.delete_btn {
    border-radius: 20px;
    width: 120px;
    height: 60px;
    background-color: #F0BB8E;
    border-radius: 30px;
    border: none;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 1);  
    font-size: 20px;  
    cursor: pointer;
}

