.container_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pop_up_box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #DCDCDC;
    border-radius: 30px;
    box-shadow: 20px 20px 10px #151515;
    width: 1000px;
    height: 300px;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 100px;
}

.pop_up_cal {
    font-size: 40px;
}

.pop_up_content {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
}

.pop_up_btn_box {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.insert_btn {
    border-radius: 20px;
    width: 250px;
    height: 70px;
    background-color: #E79898;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 1);  
    font-size: 20px;
    cursor: pointer;
}

.insert_btn:hover {
    background-color: #F24F4f;
}